<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="top_left">
                <span class="logo">
                    @Html.ActionLink("Mica publicitate", "Index", "Home")
                    <sup class="logoBeta">BETA</sup>
                </span>
            </div>
            <div class="top_right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="login">
                        @Html.Partial("~/Views/Shared/_Account.cshtml")
                    </li>
                    <li>|</li>
                    <li> @Html.ActionLink(" + ADAUGA ANUNT NOU", "Add", "Offer") </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="home-banner">
        <div class="col-xs-12 col-md-8 advanced-search">
            @using (Html.BeginForm("Search", "Offer", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <div class="mainSearchDiv">
                    <input type="text" name="mainSearchTxt" class="form-control" id="mainSearchTxt" placeholder="search..." autofocus>
                    @*div for Main Search preview*@
                    <div id="MainSearchPreview"></div>
                    <button type="submit" id="mainSearchBtn">
                        <span class="glyphicon glyphicon-search"></span> Cauta
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <select class="form-control" id="dropdownSearchCategories" name="dropdownSearchCategories">
                            <option value="0">Toate Categoriile</option>
                            <option value="1">Categoria 1</option>
                            <option value="2">Categoria 2</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <select class="form-control" id="dropdownSearchCountries" name="dropdownSearchCountries">
                            <option value="0">Toata Romania</option>
                            <option value="1">Judet 1</option>
                            <option value="2">Judet 2</option>
                        </select>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- header -->
    <div class="header_bg">
        <div class="container">
            <div class="header">

                <!-- start header_right -->
                <div class="header_right">
                    <div class="create_btn">
                        <a class="arrow" href="registration.html">creaaza-ti cont >  </a>
                    </div>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c2" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>shopping cart empty</h3><a href=""></a></li>
                                <li><p>if items in your wishlit are missing, <a href="">login to your account</a> to view them</p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c1" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>wishlist empty</h3><a href=""></a></li>
                                <li><p>if items in your wishlit are missing, <a href="">login to your account</a> to view them</p></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="clearfix"> </div>
                </div>
                <!-- start header menu -->
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!-- Div for modal views -->

    @*div for Add To Cart preview*@
    <div id="AddToCartPreview" title="Produsul a fost adaugat in cos"></div>

    @Scripts.Render("~/bundles/jquery")
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/menu")
    @RenderSection("scripts", required: false)
    <!--webfont-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</body>
</html>